body {
    background-color: rgb(249,247,246);
    font-family: 'Roboto', 'sans-serif';
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    margin-block-start: 0px;
    margin-block-end: 20px;
}

body .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    padding-left: 40px;
    padding-right: 40px;
}

main{
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    margin-block-start: 0px;
    margin-block-end: 20px;
}

h1, h2{
    font-family: 'Lora', 'sans-serif';
    font-weight: 400;
    font-size: 2.25rem;
    /* color:blue */
}

body .profile {
    font-family: 'Lora', 'sans-serif';
    text-align: center;
}

body .avatar {
    border-radius: 50%;
}

/* text below avatar */
.profile .profile-full-name{
    font-size: 28px;
    font-weight: bold;
}

.profile-description, .profile-description a {
    font-size: 16px;
    color: grey;
    text-decoration: none;
}


/* .profile{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.network-icon{
    padding-left: 0;
}

.network-icon li a{
    /* Remove bullets */
    list-style-type: none; 
    text-decoration: none;   
}

.network-icon li {
    /* Remove bullets */
    display: inline;
    float: center;
}


/* Style all font awesome icons */
.fas, .fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: darkgray;
  }

.research-detail, .teaching-detail {
    padding-bottom: 40px;
}
.container-research .paper-type, .container-teaching .teaching-loc{
    padding-top: 30px;
}

.paper-type h1, .teaching-loc h1 {
    font-family: 'Lora', 'sans-serif';
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.research-detail h2, .teaching-detail h2 {
    font-family: 'Lora', 'sans-serif';
    font-size: 20px;
    font-weight: 1000;

}

.research-job-market-paper {
    background-color: rgb(249,247,246);
}

.research-working-papers {
    background-color: rgb(255,255,255);
}

.research-work-in-progress {
    background-color: rgb(249,247,246);
}
